html {
  scroll-behavior: smooth;
  height: 99%;
}

a {
  color: #706f6f;
  text-decoration: none;
  font-size: medium;
}

body {
  height: 99%;
  display: flex;
  flex-direction: column;
}

body main.main {
  flex-grow: 1;
}

.container {
    width: 50rem;
    margin: 0 auto;
    color: #1e20ff;
    font-size: x-large;
}

.container h1 {
    color: #000;
}

h1 {
    font-weight: 700;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

ul li {
    cursor: pointer;
    list-style: none;
    box-sizing: border-box;
    border-bottom: solid 0.1rem lightgray;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

ul li:first-child {
    border-top: solid 0.1rem lightgray;
}

label {
    cursor: pointer;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

main.main .container img.meme {
    width: 50%;
    max-height: 0rem;
    transition: max-height 0.25s linear;
    margin: auto;
}

input {
    display: none;
}

main.main .container input:checked + label.label {
    color: #000;
    cursor: grab;
}

main.main .container input:checked + label.label img.meme{
    max-height: 60rem;
    margin: auto;
}

main.main .container input:checked + label.label .nameWithPlus img.plus {
    transform: rotate(45deg);
}

.nameWithPlus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plus {
    visibility: hidden;
}

main.main .container input:active + label.label {
    color: #1e20ff;
    cursor: grabbing;
}

main.main .container input:active + label.label .nameWithPlus img.plus {
    visibility: initial;
    filter: invert(12%) sepia(100%) saturate(4668%) hue-rotate(244deg) brightness(105%) contrast(124%);
}

main.main .container input:active + label.label .meme {
    opacity: 0.5;
}

body footer.footer {
  margin-top: auto;
}

body footer.footer .container {
  max-width: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  color: #2b2b2b;
}

body footer.footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body footer.footer div a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body footer.footer img {
  height: 2rem;
  width: auto;
}

@media screen and (hover:hover) {
    main.main .container input:hover + label.label img.meme{
        max-height: 60rem;
        margin: auto;
    }
    
    main.main .container input:hover + label.label .nameWithPlus img.plus {
        transform: rotate(45deg);
    }
    
    .container:hover {
        color: #000;
    }

    .container:hover img.plus {
        visibility: initial;
    }

    a:hover {
        color: #2b2b2b;
    }
}

@media screen and (max-width:820px) {
    .container {
        width: 95%;
        font-size: large;
    }

    main.main .container input:active + label.label .nameWithPlus img.plus {
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 400px) {
  body footer.footer .container {
    flex-direction: column;
    font-size: x-small;
  }

  a {
    font-size: x-small;
  }

  body footer.footer img {
    height: 1rem;
    width: auto;
  }

}

@media screen and (max-width:320px) {
    .container {
        width: 95%;
        font-size: small;
    }
    
    main.main .container input:active + label.label .nameWithPlus img.plus {
        transform: rotate(45deg);
    }
}
